body{
	margin: 0;
}
h1{
	color: rgba(170, 50, 50, 0.30);
	font-size: 7rem;
	text-align: center;
}
form{
	width: 400px;
	margin: auto;
	max-width: 100%;
}
.input{
	padding: 400px;
	display: block;
	width: 100%;
	font-size: italic;
	color: rgb(105,105,105);
}
.input::placeholder{
	color: #D3D3D3;
}